<ul class="social">
  <li>
    <a href="#" class="social__link" target="_blank" rel="nofollow noopener" title="Наш Инстаграм">
      <span class="visuallyhidden">Наш Инстаграм</span>
      <span class="social__icon">
        <svg aria-hidden="true" width="45" height="45">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-social-insta"></use>
        </svg>
      </span>
    </a>
  </li>
  <li>
    <a href="#" class="social__link" target="_blank" rel="nofollow noopener" title="Наш Фейсбук">
      <span class="visuallyhidden">Наш Фейсбук</span>
      <span class="social__icon">
        <svg aria-hidden="true" width="45" height="45">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-social-fb"></use>
        </svg>
      </span>
    </a>
  </li>
  <li>
    <a href="#" class="social__link" target="_blank" rel="nofollow noopener" title="Наша почта">
      <span class="visuallyhidden">Наша почта</span>
      <span class="social__icon">
        <svg aria-hidden="true" width="45" height="45">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-mail"></use>
        </svg>
      </span>
    </a>
  </li>
  <li>
    <a href="#" class="social__link" target="_blank" rel="nofollow noopener" title="Наш Вконтакте">
      <span class="visuallyhidden">Наш Вконтакте</span>
      <span class="social__icon">
        <svg aria-hidden="true" width="45" height="45">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-social-vk"></use>
        </svg>
      </span>
    </a>
  </li>
</ul>
