<section class="tours-list">
  <h2 class="visuallyhidden">Наши туры</h2>
  <figure class="tour-item">
    <img src="img/tour-1.jpg" width="430" height="250" alt="Тур по горным вершинам">
    <figcaption>
      <h3 class="tour-item__title">Тур по горным вершинам</h3>
    </figcaption>
    <a href="tour-mountain-peaks.html" class="tour-item__link"><span class="visuallyhidden">Тур по горным вершинам</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/tour-2.jpg" width="430" height="250" alt="Долина водопадов">
    <figcaption>
      <h3 class="tour-item__title">Долина водопадов</h3>
    </figcaption>
    <a href="#" class="tour-item__link"><span class="visuallyhidden">Долина водопадов</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/tour-3.jpg" width="430" height="250" alt="30ка без рюкзака">
    <figcaption>
      <h3 class="tour-item__title">30ка без рюкзака</h3>
    </figcaption>
    <a href="#" class="tour-item__link"><span class="visuallyhidden">30ка без рюкзака</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/tour-4.jpg" width="430" height="250" alt="Через горы к морю Light">
    <figcaption>
      <h3 class="tour-item__title">Через горы к морю Light</h3>
    </figcaption>
    <a href="#" class="tour-item__link"><span class="visuallyhidden">Через горы к морю Light</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/tour-5.jpg" width="430" height="250" alt="Классический маршрут №30">
    <figcaption>
      <h3 class="tour-item__title">Классический маршрут №30</h3>
    </figcaption>
    <a href="#" class="tour-item__link"><span class="visuallyhidden">Классический маршрут №30</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/tour-6.jpg" width="430" height="250" alt="Экскурсии по Адыгее">
    <figcaption>
      <h3 class="tour-item__title">Экскурсии по Адыгее</h3>
    </figcaption>
    <a href="#" class="tour-item__link"><span class="visuallyhidden">Экскурсии по Адыгее</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/tour-7.jpg" width="430" height="250" alt="Большой Тхач">
    <figcaption>
      <h3 class="tour-item__title">Большой Тхач</h3>
    </figcaption>
    <a href="#" class="tour-item__link"><span class="visuallyhidden">Большой Тхач</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/tour-8.jpg" width="430" height="250" alt="Мультиактивый тур">
    <figcaption>
      <h3 class="tour-item__title">Мультиактивый тур</h3>
    </figcaption>
    <a href="#" class="tour-item__link"><span class="visuallyhidden">Мультиактивый тур</span></a>
  </figure>
  <figure class="tour-item">
    <img src="img/tour-9.jpg" width="430" height="250" alt="Корпоративный тур">
    <figcaption>
      <h3 class="tour-item__title">Корпоративный тур</h3>
    </figcaption>
    <a href="#" class="tour-item__link"><span class="visuallyhidden">Корпоративный тур</span></a>
  </figure>
</section>
