<div class="footer-bottom">
  <div class="container">
    <div class="footer-bottom__copyright">
      <p>Все права защищены ©&nbsp;2016 Fisht&nbsp;&mdash; Travel</p>
      <p>Активный отдых в&nbsp;горах Республики Адыгея и&nbsp;Краснодарского края</p>
    </div>
    {{> components/social/social}}
    <div class="footer-bottom__phone">
      <a href="tel:+79285692548" title="Позвоните нам!">8&nbsp;928&nbsp;569&nbsp;25&nbsp;48</a>
    </div>
  </div>
</div>
