{{!-- layouts/base.hbs --}}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywwords" content=""/>
    <meta name="description" content=""/>
    <link rel="shortcut icon" href="favicon.png" type="image/png">

    {{!--<!--<meta name="viewport" content="width=950">-->--}}
    {{!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">--}}
    {{!--<link rel="stylesheet" href="css/font-awesome.min.css">--}}

    {{!-- <link rel="stylesheet" type="text/css" href="vendor/semantic.min.css"> --}}
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="vendor/semantic.min.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>
        {{#if title}}
            {{title}}
        {{else}}
            mParty
        {{/if}}
    </title>

    {{#> head-block}}
    {{!-- Custom <head> content per page could be added. --}}
    {{/head-block}}
</head>
<body>

{{#> header}}
{{!-- Header - block --}}
{{/header}}

{{#> content-block}}
{{!-- Content inserts --}}
{{/content-block}}


{{#> footer-block}}
{{!--
  The `includes/footer` partial is the default content,
  but can be overridden.
--}}
{{/footer-block}}

<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Plugins -->
{{#> scripts-block}}
{{!-- Custom scripts per page can be added. --}}
{{/scripts-block}}
<script src="js/main.js"></script>
</body>
</html>
