<section class="feedback">
  <form class="feedback__form" action="#" method="post">
    <h2 class="feedback__title section-title">Оставить заявку</h2>
    <label class="feedback__input">
      <span class="visuallyhidden">Введите ваше имя</span>
      <input type="text" name="feedbackName" value="" placeholder="имя" required>
    </label>
    <label class="feedback__input">
      <span class="visuallyhidden">Введите адрес электронной почты</span>
      <input type="email" name="feedbackEmail" value="" placeholder="e-mail" required>
    </label>
    <button type="submit"  class="btn" name="feedbackSubmit">Отправить</button>
  </form>
</section>
