<section class="tour-header">
  <div class="container">
    <h1 class="tour-header__title">{{title}}</h1>
    <p class="tour-header__description">Тур по&nbsp;высокогорью с&nbsp;восхождениями на&nbsp;г.&nbsp;Фишт (2867&nbsp;м), г.&nbsp;Оштен (2804&nbsp;м)</p>
  </div>
</section>
