<section class="slider">
  <h2 class="visuallyhidden">Выберите один из туров</h2>
  <div class="container">
    <div class="slider__content">
      <img  class="slider__logo" src="img/logo.svg" width="458" height="381" alt="Логотип Фишт-Тревел">
      <h3 class="slider__title">Активный отдых в&nbsp;адыгее и&nbsp;Краснодарском крае</h3>
    </div>
  </div>
  <button class="slider__toggler slider__toggler--prew" type="button" name="slider-toggler-previous">
    <span class="visuallyhidden">Предыдущий тур</span>
    <svg xmlns="http://www.w3.org/2000/svg" width="59" height="150" viewBox="0 0 59 220">
      <path stroke-width="5" d="M55.503,109.999 L54.826,108.596 L4.173,3.506 L3.497,4.913 L54.150,110.002 L3.497,215.091 L4.173,216.493 L54.826,111.405 L54.826,111.408 L55.503,109.999 Z"/>
    </svg>
  </button>
  <button class="slider__toggler slider__toggler--next" type="button" name="slider-toggler-next">
    <span class="visuallyhidden">Следующий тур</span>
    <svg xmlns="http://www.w3.org/2000/svg" width="59" height="150" viewBox="0 0 59 220">
      <path stroke-width="5" d="M55.503,109.999 L54.826,108.596 L4.173,3.506 L3.497,4.913 L54.150,110.002 L3.497,215.091 L4.173,216.493 L54.826,111.405 L54.826,111.408 L55.503,109.999 Z"/>
    </svg>
  </button>
</section>
