<section class="tour-schedule">
  <h2 class="visuallyhidden">Расписание тура по горным вершинам</h2>
  <article class="tour-day">
    <div class="container">
      <header class="tour-day__title">
        <p class="tour-day__count">
          день<br>
          <span class="tour-day__count">первый</span>
        </p>
        <span class="tour-day__number">01</span>
        <h3>Заезд. Майкопский район, поселок Каменномостский (Хаджох)</h3>
      </header>
      <ul class="tour-day__events">
        <li>Заезд на&nbsp;турбазу в&nbsp;течении дня, завтрак.</li>
        <li>Прогулка к&nbsp;&laquo;Сквозному гроту&raquo;.<sup>1</sup></li>
        <li>Возвращение на&nbsp;базу, обед.</li>
        <li>Выход в&nbsp;Хаджохскую теснину.<sup>2</sup></li>
        <li>Ужин, затем сбор, знакомство всей группы, развлекательная программа.</li>
      </ul>
    </div>
    <div class="tour-day__reference">
      <div class="container">
        <p>1. Хаджохская теснина (Каменномостский каньон)&nbsp;&mdash; участок ущелья реки Белой, в&nbsp;которой оборудован экскурсионный маршрут. Хаджохская теснина расположена на&nbsp;юго-западной окраине посёлка Каменномостский. Длина теснины&nbsp;&mdash; около 400&nbsp;метров. Маршрут оборудован дорожками, лестницами, перилами. Автомобильный мост через каньон делит маршрут на&nbsp;две части. В&nbsp;нижней по&nbsp;течению реки части обустроен вольер, в&nbsp;котором содержатся 2&nbsp;взрослых медведя. При приближении к&nbsp;Хаджохской теснине по&nbsp;дороге, ведущей на&nbsp;левый берег реки Белой, не&nbsp;видно речной долины. Только при походе к&nbsp;мосту становится видна пропасть шириной 6&ndash;7&nbsp;метров, и&nbsp;глубиной&nbsp;&mdash; 35&nbsp;метров. Вырвавшись из&nbsp;теснины, река замедляет свой бег, расширяется до&nbsp;50&nbsp;&mdash; 60&nbsp;метров. Теснина образовалась от&nbsp;того, что трещиноватый известняк, соприкасаясь с&nbsp;водой, подвергался медленному растворению и&nbsp;выщелачиванию. Благодаря врезанию реки вглубь и&nbsp;вширь, поднятию гор в&nbsp;течение десятков тысячелетий, долина приобрела современные очертания. С&nbsp;1979 года каньон является памятником природы местного значения. Маршрут включён в&nbsp;график движения групп,проходящих Всесоюзный туристский маршрут &#8470;&nbsp;30.</p>
        <p>2. Сквозной грот представляет собой большой грот в&nbsp;скале с&nbsp;наклонным полом, усыпанным различными по&nbsp;величине камнями. Популярным этот грот стал, благодаря карстовому провалу, образовавшемуся в&nbsp;потолке его задней части. Через этот провал в&nbsp;дневное время в&nbsp;него пробивается солнечный свет. Культовое языческое место древних адыгов.</p>
      </div>
    </div>
  </article>
</section>
