<ul id="hexGrid">
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="#">
        <img src="img/beaker-atom.svg" width="500" height="333" alt="" />
        <h1>This is a title</h1>
      </a>
    </div>
  </li>
</ul>
